@mixin background-clip($bg-clr) {
  box-shadow: 0 0 0 100vmax $bg-clr;
  clip-path: inset(0 -100vmax);
}

@mixin container($padding-inline) {
  width: min(100% - $padding-inline * 2, 90rem);
  margin-inline: auto;
}
