.main {
  &__home {
    background-image: url("../../assets/img/cover-sm.svg");
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-width: 90em) {
      background-image: url("../../assets/img/cover-lg.svg");
    }
  }
}
