@use "../abstracts" as *;

.footer {
  background-color: map-get($map: $colors, $key: "light-main");
  position: relative;

  &::after {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 5px);
    left: 0;
    width: 100%;
    height: 1px;
    background-color: map-get($map: $colors, $key: "mid-grey");
    z-index: 1;
  }

  &__container {
    @include container($padding-inline: 0.9375rem);
  }

  &__buttons {
    padding-block: 0.625rem;
    display: flex;
    justify-content: flex-end;

    &_deny {
      background-color: map-get($map: $colors, $key: "white");
    }
  }

  @media (min-width: 45rem) {
    min-height: 4.375rem;

    &::after {
      display: none;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &__buttons {
      padding: 0;
    }
  }

  @media (min-width: 75rem) {
    height: 6.25rem;
  }
}
