@use "../abstracts" as *;

.main {
  background-color: map-get($map: $colors, $key: "mid-grey");

  &__container {
    padding-block: 0.9375rem;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    @include container($padding-inline: 0.9375rem);
    
    @media (min-width: 75rem) {
      padding-block: 1.875rem;
    }
  }
}
